.list__header {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% auto 7%;
  gap: .625rem;
  padding: 1.25rem;
  font-weight: 600;
  color: #fff;
  background: #495276;
  position: sticky;
  top: 0;
  border-radius: .625rem .625rem 0 0
}
.list__table {
  display: flex;
  flex-direction: column;
  gap: .3125rem
}
.list__item {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% auto 7%;
  padding: 1.125rem 1.25rem;
  gap: .625rem;
  border-radius: .625rem
}
.list__item:first-child {
  border-radius: 0 0 .625rem .625rem
}
.list__item:nth-child(odd) {
  background-color: #f5f5f5
}
.list__item--flag {
  background-color: #fff2e7!important
}
.list__column {
  display: flex;
  align-items: center
}
.list__value input,
.list__value select {
  width: 100%;
  padding: .3125rem;
  border: 1px solid #0d0a18;
  border-radius: .3125rem;
  background: #fff
}
.list__buttons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
  flex-grow: 0;
  color: #0d0a18
}
.list__flag {
  width: .875rem;
  height: 1.125rem
}
.list__flag--passive {
  background: url(/public/img/icons/flag.svg) 0 0 no-repeat
}
.list__flag--active {
  background: url(/public/img/icons/flag-active.svg) 0 0 no-repeat
}
.pairs {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  font-weight: 500
}